/* Add here all your css styles (customizations) */


.cbp-l-filters-button .cbp-filter-item{
  padding: 0 24px;
  border-color: #f1c40f;
}
.shop-product{
  padding: 100px 0 50px;
}

.cbp img {
	padding: 50px;
}